In [338]:
from scipy import stats
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency

In [339]:
interact =pd.read_csv("interact.csv")

In [340]:
connect =pd.read_csv("connect.csv")

In [341]:
learn = pd.read_csv("learn.csv")

In [342]:
services = pd.read_csv("services.csv")

In [343]:
help = pd.read_csv("help.csv")

In [344]:
#statistical_level= 0.1
#lift = 40%
#desidered statisical significance=90%
#p-value=0.1

In [345]:
help.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,74,a,FIND,631,True,Homepage Version 4 - Help • http://www.lib...
1,66,input,s.q,364,True,created 5-29-2013 • 20 days 4 hours 59 min...
2,72,a,lib.montana.edu/find/,139,True,NaN
3,133,area,Montana State University - Home,122,False,NaN
4,83,a,REQUEST,72,True,NaN

In [346]:
services.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,397,True,Homepage Version 5 - Services • http://www...
1,61,input,s.q,323,True,created 5-29-2013 • 20 days 4 hours 59 min...
2,67,a,lib.montana.edu/find/,106,True,NaN
3,62,button,Search,85,True,NaN
4,98,a,Hours,81,True,NaN

In [347]:
learn.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,69,a,FIND,587,True,Homepage Version 3 - Learn • http://www.li...
1,61,input,s.q,325,True,created 5-29-2013 • 20 days 12 hours 21 mi...
2,67,a,lib.montana.edu/find/,142,True,NaN
3,128,area,Montana State University - Home,83,False,NaN
4,98,a,Hours,76,True,NaN

In [348]:
connect.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,74,a,FIND,502,True,Homepage Version 2 - Connect • http://www....
1,66,input,s.q,357,True,created 5-29-2013 • 20 days 7 hours 34 min...
2,72,a,lib.montana.edu/find/,171,True,NaN
3,133,area,Montana State University Libraries - Home,83,False,NaN
4,103,a,Hours,74,True,NaN

In [349]:
interact.head()

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information
0,128,area,Montana State University - Home,1291,False,Homepage Version 1 - Interact • http://www...
1,69,a,FIND,842,True,created 5-29-2013 • 20 days 4 hours 21 min...
2,61,input,s.q,508,True,NaN
3,67,a,lib.montana.edu/find/,166,True,NaN
4,78,a,REQUEST,151,True,NaN

In [350]:
interact_clicks=interact.loc[[9]]
interact_clicks['visits'] = 10283
interact_clicks['sum_clicks']=3714
interact_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
9,87,a,INTERACT,42,True,NaN,10283,3714

In [351]:
services_clicks=services.loc[[7]]
services_clicks['visits'] = 2064
services_clicks['sum_clicks']=1348
services_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
7,87,a,SERVICES,45,True,NaN,2064,1348

In [352]:
learn_clicks=learn.loc[[10]]
learn_clicks['visits'] = 2747
learn_clicks['sum_clicks']=1652
learn_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
10,87,a,LEARN,21,True,NaN,2747,1652

In [353]:
help_clicks=help.loc[[7]]

In [354]:
help_clicks['visits'] = 3180

In [355]:
help_clicks['sum_clicks']=1717

In [356]:
help_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
7,92,a,HELP,38,True,NaN,3180,1717

In [357]:
connect_clicks=connect.loc[[6]]
connect_clicks['visits'] = 2742
connect_clicks['sum_clicks']=1587
connect_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
6,92,a,CONNECT,53,True,NaN,2742,1587

In [358]:
versions_clicks=pd.concat([interact_clicks,services_clicks,connect_clicks,help_clicks,learn_clicks])
versions_clicks

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks
9,87,a,INTERACT,42,True,NaN,10283,3714
7,87,a,SERVICES,45,True,NaN,2064,1348
6,92,a,CONNECT,53,True,NaN,2742,1587
7,92,a,HELP,38,True,NaN,3180,1717
10,87,a,LEARN,21,True,NaN,2747,1652

In [359]:
versions_clicks["CTR"]= (versions_clicks["No. clicks"]/versions_clicks["visits"])*100

In [360]:
versions_clicks.sort_values(by="CTR",ascending=True)

,Element ID,Tag name,Name,No. clicks,Visible?,Snapshot information,visits,sum_clicks,CTR
9,87,a,INTERACT,42,True,NaN,10283,3714,0.408441
10,87,a,LEARN,21,True,NaN,2747,1652,0.764470
7,92,a,HELP,38,True,NaN,3180,1717,1.194969
6,92,a,CONNECT,53,True,NaN,2742,1587,1.932896
7,87,a,SERVICES,45,True,NaN,2064,1348,2.180233

Following the right example

In [361]:
Clicks=[42,45,53,38,21]
No_clicks=[10241,2019,2689,3142,2726]

In [362]:
observed = pd.DataFrame([Clicks, No_clicks],
                           columns = ["interact", "services", "connect","help","learn"],
                           index = ["Clicks", "No-clicks"])

In [363]:
observed

           interact  services  connect  help  learn
Clicks           42        45       53    38     21
No-clicks     10241      2019     2689  3142   2726

In [364]:
exp_clicks=[97,20,26,30,26]
exp_no_clicks=[10186,2044,2716,3149,272]

In [368]:
expected = pd.DataFrame([exp_clicks,exp_no_clicks],
                           columns = ["interact", "services", "connect","help","learn"],
                           index = ["Clicks", "No-clicks"])

In [378]:
observed

           interact  services  connect  help  learn
Clicks           42        45       53    38     21
No-clicks     10241      2019     2689  3142   2726

In [379]:
expected

           interact  services  connect  help  learn
Clicks           97        20       26    30     26
No-clicks     10186      2044     2716  3149    272

In [380]:
observed - expected

           interact  services  connect  help  learn
Clicks          -55        25       27     8     -5
No-clicks        55       -25      -27    -7   2454

In [372]:
import numpy as np
def pearson_residuals(obs, exp):
    return (obs - exp) / (np.sqrt(exp))

R = pearson_residuals(observed, expected)
R

           interact  services   connect      help       learn
Clicks    -5.584404  5.590170  5.295136  1.460593   -0.980581
No-clicks  0.544955 -0.552967 -0.518082 -0.124742  148.795606

In [377]:
R = pearson_residuals(observed, expected)
R = R**2
chi2observed = R.sum().sum()
chi2observed

22234.587972441866

In [381]:
from scipy import stats
chisq, pvalue, df, expected = stats.chi2_contingency(observed)
pvalue

4.852334301093838e-20

In [382]:
chisq

96.7432353798328

In [383]:
df

4

other way

In [231]:
#h0=The 5 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.
#h1=The observed differences are not due to chance: there are versions of the button that are more likely to receive clicks (i.e. they have a better CTR, a better performance).

In [232]:
observed

           interact  services  connect  help  learn
Clicks           42        45       53    38     21
No-clicks     10241      2019     2689  3142   2726

In [233]:
chi2, pval, dof, expected = chi2_contingency(observed, correction=False)
print("P Value:")
print(pval)

P Value:
4.852334301093838e-20

In [234]:
chi2, pval, dof, expected = chi2_contingency(observed, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
96.7432353798328

In [273]:
chi2, pval, dof, expected = chi2_contingency(observed, correction=False)
print("Expected:")
print(expected)

Expected:
[[   97.3694804     19.5439665     25.96393224    30.11134374
     26.01127712]
 [10185.6305196   2044.4560335   2716.03606776  3149.88865626
   2720.98872288]]

In [270]:
chi2, pval, dof, expected = chi2_contingency(observed, correction=False)
print("DOF:")
print(dof)

DOF:
4

#The chi-squared statistic is a single number that tells you how much difference exists between your observed counts and the counts you would expect if there were no relationship at all in the population. ... A low value for chi-square means there is a high correlation between your two sets of data.

In [235]:
result = ('significant' if pval < 0.1 else 'not significant')
print(result)

significant

In [236]:
#h0=The4 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.
#h1=The observed differences are not due to chance: there are versions of the button that are more likely to receive clicks (i.e. they have a better CTR, a better performance).

In [ ]:
#6 comparisons
#new p value= 0.016

In [237]:
observed1=observed.drop("interact", axis=1)

In [297]:
observed1

           services  connect  help  learn
Clicks           45       53    38     21
No-clicks      2019     2689  3142   2726

In [298]:
chi2, pval, dof, expected = chi2_contingency(observed1, correction=False)
print("P Value:")
print(pval)

P Value:
5.255098702285646e-05

In [299]:
chi2, pval, dof, expected = chi2_contingency(observed1, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
22.45097953040183

In [300]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

significant

<strong>Post Hoc Tests</strong>

In [304]:
learn_help=observed1[["learn","help"]]
learn_help

           learn  help
Clicks        21    38
No-clicks   2726  3142

In [305]:
chi2, pval, dof, expected = chi2_contingency(learn_help, correction=False)
print("P Value:")
print(pval)

P Value:
0.09595374264156245

In [307]:
chi2, pval, dof, expected = chi2_contingency(learn_help, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
2.7715410437325096

In [306]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

not significant

In [310]:
learn_connect=observed1[["learn","connect"]]
learn_connect

           learn  connect
Clicks        21       53
No-clicks   2726     2689

In [311]:
chi2, pval, dof, expected = chi2_contingency(learn_connect, correction=False)
print("P Value:")
print(pval)

P Value:
0.0001746284908340592

In [312]:
chi2, pval, dof, expected = chi2_contingency(learn_connect, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
14.086111213439196

In [313]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

significant

In [316]:
learn_services=observed1[["learn","services"]]
learn_services

           learn  services
Clicks        21        45
No-clicks   2726      2019

In [317]:
chi2, pval, dof, expected = chi2_contingency(learn_services, correction=False)
print("P Value:")
print(pval)

P Value:
2.936652885771486e-05

In [318]:
chi2, pval, dof, expected = chi2_contingency(learn_services, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
17.458390323762575

In [319]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

significant

In [322]:
help_connect=observed1[["help","connect"]]
help_connect

           help  connect
Clicks       38       53
No-clicks  3142     2689

In [323]:
chi2, pval, dof, expected = chi2_contingency(help_connect, correction=False)
print("P Value:")
print(pval)

P Value:
0.021335938663978878

In [324]:
chi2, pval, dof, expected = chi2_contingency(help_connect, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
5.299141425219673

In [325]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

not significant

In [328]:
help_services=observed1[["help","services"]]
help_services

           help  services
Clicks       38        45
No-clicks  3142      2019

In [329]:
chi2, pval, dof, expected = chi2_contingency(help_services, correction=False)
print("P Value:")
print(pval)

P Value:
0.005224718202448622

In [330]:
chi2, pval, dof, expected = chi2_contingency(help_services, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
7.799967226887146

In [331]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

significant

In [334]:
connect_services=observed1[["connect","services"]]
connect_services

           connect  services
Clicks          53        45
No-clicks     2689      2019

In [335]:
chi2, pval, dof, expected = chi2_contingency(connect_services, correction=False)
print("P Value:")
print(pval)

P Value:
0.5481500077135573

In [336]:
chi2, pval, dof, expected = chi2_contingency(connect_services, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
0.36064180794754525

In [337]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

not significant

<h><strong>OTHER WAY</strong><h>

In [258]:
#h0=The3 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.
#h1=The observed differences are not due to chance: there are versions of the button that are more likely to receive clicks (i.e. they have a better CTR, a better performance).

In [259]:
observed2=observed1.drop("learn", axis=1)

In [260]:
observed2

           services  connect  help
Clicks           45       53    38
No-clicks      2019     2689  3142

In [261]:
chi2, pval, dof, expected = chi2_contingency(observed2, correction=False)
print("P Value:")
print(pval)

P Value:
0.013726659948517513

In [246]:
chi2, pval, dof, expected = chi2_contingency(observed2, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
8.57683071094785

In [262]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

significant

In [263]:
#h0=The2 versions of the button are equally likely to receive clicks, and the observed differences are due to chance.
#h1=The observed differences are not due to chance: there are versions of the button that are more likely to receive clicks (i.e. they have a better CTR, a better performance).

In [264]:
observed3=observed2.drop("help", axis=1)

In [265]:
observed3

           services  connect
Clicks           45       53
No-clicks      2019     2689

In [266]:
chi2, pval, dof, expected = chi2_contingency(observed3, correction=False)
print("P Value:")
print(pval)

P Value:
0.5481500077135573

In [251]:
chi2, pval, dof, expected = chi2_contingency(observed3, correction=False)
print("Chi2 Value:")
print(chi2)

Chi2 Value:
0.36064180794754525

In [268]:
chi2, pval, dof, expected = chi2_contingency(observed3, correction=False)
print("Expected:")
print(expected)

Expected:
[[  42.08739076   55.91260924]
 [2021.91260924 2686.08739076]]

In [267]:
result = ('significant' if pval < 0.016 else 'not significant')
print(result)

not significant